@model DatabaseLayer.DoctorTable

@{
    ViewBag.Title = "Doctor Profile";
    Layout = "~/Views/Shared/LPD_Layout.cshtml";}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="css.css">*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/adddoctorcss.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <title>@ViewBag.Title</title>
   
</head>
<body >
    @ViewBag.Message
    @using (Html.BeginForm("AddDoctor", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="~/Content/aaaa.png" alt="resim" />
                    <h3>Welcome</h3>

                </div>
                <div class="col-md-9 register-right">
                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "isp", style = "width:10px;" })
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Add Doctor</h3>
                            <div class="row register-form">


                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" value="" name="Name" />
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                    </div>



                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Phone *" minlength="14" maxlength="14" value="" name="ContactNo" />
                                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                                    </div>



                                    <div class="form-group">



                                        <label for="Pic" class="btn btn-outline-info">
                                            Select Image
                                        </label>
                                        @Html.TextBoxFor(model => model.LogFile, new { type = "file", id = "Pic", @style = "visibility:hidden; display:none; height:0px; ", @class = "mt-0" })



                                    </div>


                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Fees" name="Fees" />
                                        @Html.ValidationMessageFor(model => model.Fees, "", new { @class = "text-danger" })

                                    </div>


                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Specialization" value="" name="Splztion" />
                                        @Html.ValidationMessageFor(model => model.Splztion, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Permanent Adress" } })
                                        @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" value="" name="EmailAddress" />
                                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

                                    </div>


                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="14" name="ClinicPhoneNo" class="form-control" placeholder="Your Phone *" value="" />
                                        @Html.ValidationMessageFor(model => model.ClinicPhoneNo, "", new { @class = "text-danger" })

                                    </div>

                                    <!-- <div class="form-group">
        <select class="form-control">
            <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
            <option>What is your Birthdate?</option>
            <option>What is Your old Phone Number</option>
            <option>What is your Pet Name?</option>
        </select>
    </div> -->
                                    <div class="form-group">

                                        @Html.DropDownList("GenderID", null, "Select Gender", htmlAttributes: new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })

                                    </div>




                                    <div class="form-group">
                                        @Html.DropDownList("AccountTypeID", null, "Account Type", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AccountTypeID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "Account Number " } })
                                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ClinicAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Clinic Adress " } })
                                        @Html.ValidationMessageFor(model => model.ClinicAddress, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <input type="number" class="form-control" minlength="1" maxlength="3" placeholder="Max Appoint Day *" value="" name="PerDayMaxAppitmnt" />
                                        @Html.ValidationMessageFor(model => model.PerDayMaxAppitmnt, "", new { @class = "text-danger" })

                                    </div>


                                </div>


                                <label class="lnr-text-align-center">Description</label>
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { placeholder = "Description" } })

                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })




                                <input type="submit" value="Create" class="genric-btn success isp" />
                            </div>



                        </div>















                    </div>
                </div>
            </div>
        </div>



    }
</body>
</html>