@model DatabaseLayer.LabTable

@{
    ViewBag.Title = "Lab Profile";
    Layout = null;}

@ViewBag.Message


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Account</title>
    <link href="~/Content/newacc.css" rel="stylesheet" />
</head>
<body>


    @using (Html.BeginForm("AddLab", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()




        <div class="container">
            <div class="left">
              


                <div class="form">
                    <div class="header">
                        <br />
                        <h2 style="text-align:center;"><b>Lab Profile</b></h2>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-field animation a4", placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>

                    <br />
                    <div class="col-md-10">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LogFile, new { @class = " animation a3", type = "file", value = "Select Image", style = "" })
                        </span>
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-field animation a4", placeholder = "Conctact No", type = "number" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-field animation a3", placeholder = "Phone No", type = "number" } })
                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-field animation a4", type = "email", placeholder = "xyz@mail.com" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-field animation a3", placeholder = "Clinic Adress" } })
                        @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AboutLab, new { htmlAttributes = new { @class = "form-field animation a4", placeholder = "About Lab" } })
                        @Html.ValidationMessageFor(model => model.AboutLab, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.DropDownList("AccountTypeID", null, "Account Type", htmlAttributes: new { @class = "form-field animation a3", placeholder = "Account Type" })
                        @Html.ValidationMessageFor(model => model.AccountTypeID, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-field animation a3", placeholder = "Account No", type = "number" } })
                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                    </div>








                    <br />
                    <button type="submit" class="animation a6">Create Account</button>
                    @Html.ActionLink("Back to Page", "Index", "Home", new { @class = "isp" })



                </div>

            </div>

            <div class="right"></div>
        </div>


    }

</body>
</html>












