@model DatabaseLayer.UserTable

@{
    ViewBag.Title = "Create User";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Account</title>
    <link href="~/Content/newacc.css" rel="stylesheet" />
</head>
<body>







    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="container">
        <div class="left">
            <div class="header">
                <h1 class="animation a1">Online Hospital</h1>
                <h2 class="animation a2">Create Account</h2>
                @ViewBag.Message
                <hr />
            </div>


            <div class="form">
                <div class="col-md-4">
                    @Html.DropDownList("UserTypeID", null, "Select Type", htmlAttributes: new { @class = "form-field animation a3",required="" })
                </div>

                <div class="form-group">


                    <div class="col-md-4">
                        @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })*@

                        <input type="number" class="form-field animation a4" pattern="\d{11}" maxlength="11" placeholder="Identity Number" name="Email" title=" Bu input’a sadece 11 karakterli sayısal değer girilebilir" required>
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-field animation a3 col-12", placeholder = "Username",required="" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-field animation a4", placeholder = "Password",required = "" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                @*@Html.LabelFor(model => model.ContactNo, "Contact No", htmlAttributes: new { @class = "control-label col-md-4" })*@
                <div class="col-md-4">
                    <input type="number" class="form-field animation a3" pattern="\d{11}" placeholder="Phone No" name="ContactNo" title=" Bu input’a sadece 11 karakterli sayısal değer" />
                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                </div>

                <br />
                <button type="submit" class="animation a6">Create Account</button>
                @Html.ActionLink("Back to Page", "Login", "Home", new { @class = "isp" })

            </div>

        </div>
        <div class="right"></div>

    </div>


    }

</body>
</html>



